services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    command: sh -c "chmod +x ./wait-for-postgres.sh && ./wait-for-postgres.sh db alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port 8000 --reload --app-dir /app/app"
    environment:
      - DATABASE_URL=postgresql://user:password@db/db
      - DB_SCHEMA=dev
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password

volumes:
  pgdata:
